/* footer */
.footer-content {
    color: aliceblue;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
}

/* background */
.background {
    background-image: url('../img&icon/background.png');
    background-attachment: fixed;
}

.AObody {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* content */
.content {
    position: relative;
    top: 0;
    color: white; 
    width: 600px;
    min-height: 100vh;
}

.content h1 {
    font-size: 3rem;
    animation: colorChange 60s infinite;
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.content .img-avarta{
    width: 140px;
    height: 140px;
    object-fit: cover;
    object-position: 0 100%;
    border-radius: 50%;
}

.link{
    padding-bottom: 100px;
}

.link a {
    text-decoration: none;
}

.OCl{
    background-color: rgba(255, 255, 255, 0.497);
    border-radius: 200px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    height: 40px;
    animation: color-background 60s infinite;
    align-items: center;
}

.OCl img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 45%;
    padding: 5px 7px;
    position: absolute;
    left: 0;
}

.OCl p {
    width: 50%;
    color: rgb(255, 255, 255) ;
    display: inline-block;
    margin: 0;
    align-content: center;
    justify-content: center;
    text-align: center;

    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: italic;
    
    
}

.OCl:hover {
    margin: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}


@media ( max-width: 600px ) {
    .content {
        margin-left: 15px;
        margin-right: 15px;
        height: auto;
    }
    
    .OCl {
        background-color: rgba(0, 187, 255, 0.396);
        animation: none;
    }
}





@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(0.95);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes colorChange {
    0%, 100% { color: #FF0000; } /* Red */
    4% { color: #FF7F00; } /* Orange */
    8% { color: #FFFF00; } /* Yellow */
    12% { color: #7FFF00; } /* Chartreuse Green */
    16% { color: #00FF00; } /* Green */
    20% { color: #00FF7F; } /* Spring Green */
    24% { color: #00FFFF; } /* Cyan */
    28% { color: #007FFF; } /* Azure */
    32% { color: #0000FF; } /* Blue */
    36% { color: #7F00FF; } /* Violet */
    40% { color: #FF00FF; } /* Magenta */
    44% { color: #FF007F; } /* Rose */
    48% { color: #FF0000; } /* Red */
    52% { color: #FF7F00; } /* Orange */
    56% { color: #FFFF00; } /* Yellow */
    60% { color: #7FFF00; } /* Chartreuse Green */
    64% { color: #00FF00; } /* Green */
    68% { color: #00FF7F; } /* Spring Green */
    72% { color: #00FFFF; } /* Cyan */
    76% { color: #007FFF; } /* Azure */
    80% { color: #0000FF; } /* Blue */
    84% { color: #7F00FF; } /* Violet */
    88% { color: #FF00FF; } /* Magenta */
    92% { color: #FF007F; } /* Rose */
}



@keyframes color-background {
    0% { background-color: rgba(255, 87, 51, 0.2); }
    2.08% { background-color: rgba(255, 141, 51, 0.2); }
    4.16% { background-color: rgba(255, 193, 51, 0.2); }
    6.24% { background-color: rgba(255, 246, 51, 0.2); }
    8.32% { background-color: rgba(193, 255, 51, 0.2); }
    10.4% { background-color: rgba(141, 255, 51, 0.2); }
    12.48% { background-color: rgba(87, 255, 51, 0.2); }
    14.56% { background-color: rgba(51, 255, 87, 0.2); }
    16.64% { background-color: rgba(51, 255, 141, 0.2); }
    18.72% { background-color: rgba(51, 255, 193, 0.2); }
    20.8% { background-color: rgba(51, 255, 246, 0.2); }
    22.88% { background-color: rgba(51, 193, 255, 0.2); }
    24.96% { background-color: rgba(51, 141, 255, 0.2); }
    27.04% { background-color: rgba(51, 87, 255, 0.2); }
    29.12% { background-color: rgba(87, 51, 255, 0.2); }
    31.2% { background-color: rgba(141, 51, 255, 0.2); }
    33.28% { background-color: rgba(193, 51, 255, 0.2); }
    35.36% { background-color: rgba(246, 51, 255, 0.2); }
    37.44% { background-color: rgba(255, 51, 193, 0.2); }
    39.52% { background-color: rgba(255, 51, 141, 0.2); }
    41.6% { background-color: rgba(255, 51, 87, 0.2); }
    43.68% { background-color: rgba(255, 87, 51, 0.2); }
    45.76% { background-color: rgba(255, 141, 51, 0.2); }
    47.84% { background-color: rgba(255, 193, 51, 0.2); }
    49.92% { background-color: rgba(255, 246, 51, 0.2); }
    52% { background-color: rgba(193, 255, 51, 0.2); }
    54.08% { background-color: rgba(141, 255, 51, 0.2); }
    56.16% { background-color: rgba(87, 255, 51, 0.2); }
    58.24% { background-color: rgba(51, 255, 87, 0.2); }
    60.32% { background-color: rgba(51, 255, 141, 0.2); }
    62.4% { background-color: rgba(51, 255, 193, 0.2); }
    64.48% { background-color: rgba(51, 255, 246, 0.2); }
    66.56% { background-color: rgba(51, 193, 255, 0.2); }
    68.64% { background-color: rgba(51, 141, 255, 0.2); }
    70.72% { background-color: rgba(51, 87, 255, 0.2); }
    72.8% { background-color: rgba(87, 51, 255, 0.2); }
    74.88% { background-color: rgba(141, 51, 255, 0.2); }
    76.96% { background-color: rgba(193, 51, 255, 0.2); }
    79.04% { background-color: rgba(246, 51, 255, 0.2); }
    81.12% { background-color: rgba(255, 51, 193, 0.2); }
    83.2% { background-color: rgba(255, 51, 141, 0.2); }
    85.28% { background-color: rgba(255, 51, 87, 0.2); }
    87.36% { background-color: rgba(255, 87, 51, 0.2); }
    89.44% { background-color: rgba(255, 141, 51, 0.2); }
    91.52% { background-color: rgba(255, 193, 51, 0.2); }
    93.6% { background-color: rgba(255, 246, 51, 0.2); }
    95.68% { background-color: rgba(193, 255, 51, 0.2); }
    97.76% { background-color: rgba(141, 255, 51, 0.2); }
    100% { background-color: rgba(87, 255, 51, 0.2); }
}